<div
  class="text-pri-black pointer h-full p-[10px] bg-white relative flex items-center"
  [ngClass]="{
    'border-regal-blue': opened,
    'border-gray': !opened,
    'border rounded-md': styleType === 'primary',
    'border-b': styleType === 'secondary'
  }"
>
  <div
    *ngIf="date"
    class="absolute translate-y-1/2 bottom-full font-lato text-[10px] text-pri-black bg-white border-label"
    [ngClass]="{
      'text-pri-black': !opened,
      'text-regal-blue': opened
    }"
  >
    {{ label }}
  </div>

  <input
    class="outline-none placeholder:text-pri-black placeholder:font-lato w-full"
    matInput
    [placeholder]="label"
    [matDatepicker]="picker"
    (dateChange)="onSelectedChange($event)"
    [formControl]="value"
  />

  <mat-datepicker-toggle class="datepicker-toggle" matSuffix [for]="picker">
    <app-svg-icon
      [fill]="opened ? '#3a63cc' : '#b3b3b8'"
      [stroke]="'none'"
      matDatepickerToggleIcon
      [name]="'calendar'"
      (click)="openDatepicker()"
    ></app-svg-icon>
  </mat-datepicker-toggle>

  <mat-datepicker
    lang="am-et"
    [opened]="opened"
    #picker
    (closed)="onDatepickerClose()"
  ></mat-datepicker>
</div>
