<div class="font-mont">
  <header class="flex justify-between items-center">
    <div class="text-pri-black text-xl font-medium">{{ title }}</div>
    <app-search-menu-bar></app-search-menu-bar>
  </header>
  
  <div class="shadow-simple rounded-md w-full my-5 relative">
    <div class="p-5">
      <ng-content></ng-content>

      <app-selected-criteria [criteries]="criteries"></app-selected-criteria>
    </div>
  
    <button
      class="text-white bg-regal-blue text-xl font-medium leading-6 py-4 px-[25px] shadow-button rounded-md border-0 absolute right-2/4 translate-y-2/4 translate-x-2/4 bottom-0"
      (click)="onSearchButtonClick($event)"
    >
      Search
    </button>
  </div>

  <div *ngIf="isFetched && this.tableData.rows" class="mt-[50px]">
    <div class="flex justify-between mb-[20px]">
      <span class="text-pri-gray font-lato">Result: {{ totalRows }}</span>
      <button class="flex items-center" (click)="exportToExcel($event)">
        <img src="/assets/images/icons/download-arrow.svg" alt="download-arrow" />
        <span class="ml-[10px] text-regal-blue text-base font-mont font-medium">
          Excel
        </span>
      </button>
    </div>
    <app-table
      [data]="tableData"
      [config]="config"
      (rowsChange)="onRowsChange($event)"
      (columnsChange)="onColumnsChange($event)"
    >
    </app-table>
  </div>

  <div *ngIf="isFetched && !this.tableData.rows">
    No Data found
  </div>

  <app-spinner></app-spinner>
</div>