<div class="font-mont">
  <header class="flex justify-between items-center search-header">
    <div class="text-pri-black text-xl font-medium">{{ title }}</div>
    <app-search-menu-bar></app-search-menu-bar>
  </header>
  
  <div class="shadow-simple rounded-md w-full my-5 relative criteries-container">
    <div class="p-5">
      <ng-content></ng-content>

      <app-selected-criteria [criteries]="criteries"></app-selected-criteria>
    </div>
  
    <button
      class="text-white bg-regal-blue text-xl font-medium leading-6 py-4 px-[25px] shadow-button rounded-md border-0 absolute right-2/4 translate-y-2/4 translate-x-2/4 bottom-0"
      (click)="onSearchButtonClick($event)"
    >
      Search
    </button>
  </div>

  <div
    class="mt-[50px] relative"
  >
    <app-spinner
      class="absolute right-2/4 translate-y-2/4 translate-x-2/4 z-[100]"
      [ngClass]="{
        'top-[20px]': !this.tableData.rows.length && isFetching,
        'bottom-2/4': this.tableData.rows.length && isFetching
      }"
      *ngIf="isFetching"
      [show]="true"
    >
    </app-spinner>

    <div *ngIf="isFetched && this.tableData.rows.length">
      <div class="flex justify-between mb-[20px]">
        <span class="text-pri-gray font-lato">Results: {{ totalRows }}</span>
        <button class="flex items-center" (click)="exportToExcel($event)">
          <img src="/assets/images/icons/download-arrow.svg" alt="download-arrow" />
          <span class="ml-[10px] text-regal-blue text-base font-mont font-medium">
            Excel
          </span>
        </button>
      </div>
      <app-table
        [data]="tableData"
        [config]="config"
        (rowsChange)="onRowsChange($event)"
        (columnsChange)="onColumnsChange($event)"
      >
      </app-table>
    </div>

    <div *ngIf="isFetched && !this.tableData.rows.length" class="flex flex-col items-center mt-[100px]">
      <div class="text-light-gray font-lato text-lg mb-[20px]">Your search did not match any results</div>
      <img src="/assets/images/icons/no-results.svg" alt="download-arrow" />
    </div>
  </div>
</div>