<app-search
  [title]="title"
  [criteries]="criteries"
  [key]="key"
  [selectedCriteriaVisible]="false"
  [columnFilterVisible]="false"
  [exportAvailable]="false"
>
  <div
    class="flex border-b border-b-1 border-gray mb-[15px] font-lato text-pri-black"
  >
    <div
      *ngFor="let tab of tabs"
      (click)="setActiveTab($event, tab)"
      class="cursor-pointer px-[15px] py-[5px]"
      [ngClass]="{ 'border-b-2 border-regal-blue': tab.selected }"
    >
      {{ tab.label }}
    </div>
    <div class="flex w-full justify-center">
      <p class="px-[15px] py-[5px] text-xl">
        Finding call history by {{ mapLabel(selectedFilter) }}
      </p>
    </div>
  </div>

  <div class="grid-container grid gap-5 mb-[40px]">
    <app-call-history-select
      (optionSelect)="onOptionSelect($event)"
      [options]="options"
    ></app-call-history-select>

    <app-input
      *ngIf="criteries.callLetterHistory === 'callLetter'"
      [placeholder]="'Call Letter'"
      [styleType]="styleTypes.secondary"
      [value]="callLetter"
      (inputChange)="onInputChange($event)"
    >
    </app-input>

    <app-datepicker
      *ngIf="criteries.callLetterHistory === 'date'"
      [label]="'Start Date'"
      [styleType]="styleTypes.secondary"
      [date]="criteries.startDate"
      (dateChange)="onDateChange($event, 'startDate')"
    >
    </app-datepicker>

    <app-datepicker
      *ngIf="criteries.callLetterHistory === 'date'"
      [label]="'End Date'"
      [styleType]="styleTypes.secondary"
      [date]="criteries.endDate"
      (dateChange)="onDateChange($event, 'endDate')"
    >
    </app-datepicker>
  </div>
</app-search>
