<app-select
  [options]="options"
  [multiple]="false"
  [grouping]="false"
  [search]="false"
  [borderLabel]="label"
  #selectComponent
  [panelOpen]="panelOpen"
>
  <div
    #dropdownTemplate
    dropdownTemplate
    class="shadow-simple rounded-md w-full bg-white pb-[10px]"
  >
    <div class="font-mont text-base p-[20px]">
      {{ label }}
    </div>
    <div class="flex flex-col">
      <div
        *ngFor="let option of options"
        class="flex hover:bg-light-blue text-pri-black text-sm px-[20px] py-[10px] cursor-pointer"
        [ngClass]="{
          'bg-light-blue': option.selected
        }"
        (click)="selectOption($event, option)"
      >
        <div
          class="mr-[10px] text-base text-regal-blue lex justify-center items-center rotate-45 scale-x-[-1]"
          [ngClass]="{
            invisible: !option.selected
          }"
        >
          L
        </div>
        <span class="font-lato text-pri-black">{{ option.label }}</span>
      </div>
    </div>
  </div>
</app-select>
