<div class="font-mont">
  <header class="flex justify-between items-center">
    <div class="text-pri-black text-xl font-medium">Media Search</div>
    <div class="header__buttons text-base flex justify-between items-center">
      <button class="text-regal-blue font-medium flex items-center mr-[30px]">
        <img class="mr-[10px]" src="/assets/images/icons/opened-folder.svg" />
        <span>Open Saved Search</span>
      </button>
      <button class="text-regal-blue font-medium flex items-center mr-[30px]">
        <img class="mr-[10px]" src="/assets/images/icons/bookmark-ribbon.svg" />
        <span >Save Search</span>
      </button>
      <button class="shadow-button border-regal-blue text-regal-blue font-medium leading-5 rounded-md border-2 py-[6px] px-[11px]">
        New Search
      </button>
    </div>
  </header>
  
  <div class="shadow-simple rounded-md w-full my-5 relative">
    <div class="p-5">
      <div class="grid-container grid gap-5">
        <app-input
          class="col-start-1 col-end-3"
          placeholder="Search by name or ID"
          name="nameSearch" [disabled]="nameSearchDisabled"
          icon="/assets/images/icons/search.svg"
        >
        </app-input>
  
        <app-media-type-pick-list></app-media-type-pick-list>
        <app-select placeholder="Markets"></app-select>
        <app-select placeholder="Owners"></app-select>
  
        <app-category-pick-list></app-category-pick-list>

        <app-select>
          <div valueContainer #valueContainer class="flex items-center">
            <app-checkbox></app-checkbox>
            <span class="ml-[10px]">Diverse Target</span>
          </div>
        </app-select>

        <app-select>
          <div valueContainer #valueContainer class="flex items-center">
            <app-checkbox></app-checkbox>
            <span class="ml-[10px]">Language</span>
          </div>
        </app-select>
  
        <div class="flex items-center">
          <app-checkbox></app-checkbox>
          <span class="ml-[10px]">Music</span>
        </div>

        <div class="flex items-center">
          <app-checkbox></app-checkbox>
          <span class="ml-[10px]">Matched in my database</span>
        </div>
        <div class="flex items-center">
          <app-checkbox></app-checkbox>
          <span class="ml-[10px]">Slogan</span>
        </div>
      </div>
  
      <button class="text-regal-blue text-base font-medium flex items-center ml-auto ">
        <img class="mr-[10px]" src="/assets/images/icons/sorting-options.svg" />
        <span>Selected Criteria</span>
      </button> 
    </div>
  
    <button class="text-white bg-regal-blue text-xl font-medium leading-6 py-4 px-[25px] shadow-button rounded-md border-0 absolute right-2/4 translate-y-2/4 translate-x-2/4 bottom-0">
      Search
    </button>
  </div>
</div>

