<div class="header__buttons text-base flex justify-between items-center">
  <button class="text-regal-blue font-medium flex items-center mr-[30px]">
    <img class="mr-[10px]" src="/assets/images/icons/opened-folder.svg" />
    <span>Open Saved Search</span>
  </button>
  <button class="text-regal-blue font-medium flex items-center mr-[30px]">
    <img class="mr-[10px]" src="/assets/images/icons/bookmark-ribbon.svg" />
    <span >Save Search</span>
  </button>
  <button class="shadow-button border-regal-blue text-regal-blue font-medium leading-5 rounded-md border-2 py-[6px] px-[11px]">
    New Search
  </button>
</div>