<div #tableContainer class="border rounded-md border-light-gray" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <cdk-virtual-scroll-viewport itemSize="50" class="overflow-auto" [ngStyle]="tableStyles">
    <div class="border-0">
      <div class="header">
        <div class="h-[45px] header__row relative flex" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onDrop($event)">
          <div
            *ngFor="let column of columns"
            [id]="column.id"
            class="p-0 bg-light-grey border-b cursor-pointer border-light-gray h-[45px] header__cell"
            [ngStyle]="getColumnCellStyles(column)"
            cdkDrag
            (cdkDragStarted)="onDragStart($event)"
            (cdkDragEnded)="onDragEnd($event)"
          >
            <div class="flex justify-between h-full header__template">
              <div class="flex items-center grow header__content">
                <div
                  class="text-pri-black font-lato font-bold text-sm flex flex-1 items-center pl-[20px] pr-[10px]"
                  cdkDragHandle
                  (click)="onSortClick($event, column)"
                  [ngStyle]="getColumnTextStyles(column)"
                >
                  <div class="text-ellipsis overflow-hidden">{{ column.label }}</div>
                </div>
                <div class="flex">
                  <img
                    class="cursor-pointer"
                    src="/assets/images/icons/long-arrow-down.svg"
                    alt="long-arrow-down"
                    [ngClass]="getSortIconClass(column)"
                    (click)="onSortClick($event, column)"
                  />
                  <app-column-filter
                    *ngIf="columnFilterVisible"
                    [column]="column"
                    [rowFilterData]="groupedRowFilterData[column.id] || []"
                    [columnAutoFilterData]="columnAutoFilterData"
                    [panelOpen]="column.id === columnFilterId"
                    (openFilter)="onOpenFilter($event)"
                    (closeFilter)="onCloseFilter()"
                    (textFilterSelect)="onTextFilterSelect($event)"
                    (columnFilterChange)="onColumnFilterChange($event)"
                    (clearColumnFilter)="onFilterClear($event)"
                  >
                  </app-column-filter>
                </div>
              </div>
              <app-resizer (resizeEnd)="onResizeEnd($event, column)" [column]="column" [columns]="columns"></app-resizer>
            </div>
          </div>
          
          <!-- COLUMN for filling up empty spaces when headers width less than table width -->
          <div class="bg-light-grey border-b border-light-gray h-[45px] header__cell w-full"></div>
        </div>
      </div>
      <div>
        <div *cdkVirtualFor="let row of rows; templateCacheSize: 0" class="h-[45px] flex">
          <div
            *ngFor="let column of columns"
            class="px-[20px] border-b border-light-gray flex items-center"
            [ngStyle]="getColumnCellStyles(column)"
          >
            <div [ngStyle]="this.getCellStyles(column.id)" class="overflow-hidden whitespace-nowrap">{{ row.data[column.id] }}</div>
          </div>

          <!-- CELL for filling up empty spaces when cells width less than table width -->
          <div class="border-b border-light-gray w-full"></div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isColumnAutoFilterVisible"
  [cdkConnectedOverlayOffsetX]="columnAutoFilterPosition.offsetX"
  [cdkConnectedOverlayOffsetY]="columnAutoFilterPosition.offsetY"
>
  <app-column-auto-filter
    appClickOutside
    (clickOutside)="onClickOutside()"
    [column]="columnAutoFilterData[activeColumnAutoFilterId].column"
    [filters]="columnAutoFilterData[activeColumnAutoFilterId].filters"
    (applyFilter)="onFilterApply($event)"
    (cancelFilter)="onFilterCancel($event)"
    (clearFilter)="onFilterClear($event)"
  >
  </app-column-auto-filter>
</ng-template>
