.table-width {
  width: calc(100vw - 340px)
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed
}

table td,
table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  border: 1px solid #b3b3b8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.cdk-drag-placeholder .header__template {
  border: 2px solid #3a63cc;
}

.cdk-drag-placeholder .header__content {
  opacity: 0.3;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 50px;
  background-color: #D7D7DC;
}