::ng-deep.sidebar {
  padding-top: 33px;
  padding-left: 10px;

  .selected-amml-item {
    .mat-list-item-content {
      background-color: white;
      color: #2E4FA3;
      font-size: 15px;
      font-weight: 500;
      border-radius: 50px 0px 0px 50px;

      .mat-list-avatar {
        &.amml-icon {
          -webkit-filter: brightness(0) saturate(100%) invert(28%) sepia(12%) saturate(4848%) hue-rotate(193deg) brightness(102%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(28%) sepia(12%) saturate(4848%) hue-rotate(193deg) brightness(102%) contrast(96%);
        }
      }
    }
  }

  .mat-list-base .mat-list-item {
    height: 40px;
    margin-bottom: 10px;
  }

  .amml-menu-container {
    position: relative;

    .anml-data {
      height: 40px;
    }

    .label {
      line-height: 40px;
    }

    .amml-submenu {
      border-left: 1px solid #3A63CC;

      ng-list-item {
        &:last-child {
          &::before {
            display: inline-block;
            left: 15px;
            content: '';
            height: 23px;
            position: absolute;
            width: 5px;
            background-color: #2e4fa3;
            bottom: 0;
          }
        }
      }
    }
  }

  .mat-list-item-content {
    position: relative;
    font-family: Montserrat;

    .mat-list-avatar {
      &.amml-icon {
        width: 16px;
        height: auto;
        border-radius: 0;
      }
    }

    &:hover {
      background-color: white;
      color: #2E4FA3;
      font-size: 15px;
      font-weight: 500;
      border-radius: 50px 0px 0px 50px;

      .mat-list-avatar {
        &.amml-icon {
          -webkit-filter: brightness(0) saturate(100%) invert(28%) sepia(12%) saturate(4848%) hue-rotate(193deg) brightness(102%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(28%) sepia(12%) saturate(4848%) hue-rotate(193deg) brightness(102%) contrast(96%);
        }
      }
    }
  }
}

::ng-deep.amml-menu-container {
  .amml-submenu {
    .mat-list-item {
      &::before {
        content: '';
        position: absolute;
        background: transparent url('../../../../assets/images/curve.png') no-repeat;
        height: 100%;
        width: 100%;
        top: 16px;
      }
    }
  }
}