<img
  class="block ml-auto mt-[10px] mr-[10px] w-[16px] h-[16px] cursor-pointer"
  src="/assets/images/icons/cross.svg"
  (click)="closeDialog()"
/>

<div class="flex justify-center" mat-dialog-title>
  <div class="text-pri-black text-xl font-medium">Selected Criteria</div>
</div>
<div mat-dialog-content class="max-h-[500px] overflow-y-auto font-lato text-sm text-pri-gray mt-[40px] mb-[40px] ml-[30px] mr-[30px]">
  <div>
    <div class="flex mb-[10px] min-h-[35px]" *ngFor="let criteriaPair of criteries">
      <div [ngSwitch]="criteriaPair[0]" class="basis-1/5">
        <ng-container *ngSwitchCase="'categories'">
          <ng-container *ngTemplateOutlet="categoriesLabel; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'markets'">
          <ng-container *ngTemplateOutlet="marketsLabel; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <span *ngSwitchDefault>{{ labels[criteriaPair[0]] }}:</span>
      </div>

      <div [ngSwitch]="criteriaPair[0]" class="basis-4/5 flex flex-wrap">
        <ng-container *ngSwitchCase="'categories'">
          <ng-container *ngTemplateOutlet="complexCriteriaValues; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'markets'">
          <ng-container *ngTemplateOutlet="complexCriteriaValues; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'languages2'">
          <ng-container *ngTemplateOutlet="complexCriteriaValues; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'diversetargets'">
          <ng-container *ngTemplateOutlet="complexCriteriaValues; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'matchedTo'">
          <ng-container *ngTemplateOutlet="matchedToCriteriaValues; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'name'">
          <ng-container *ngTemplateOutlet="searchNameCriteriaValue; context: { criteriaPair: criteriaPair }"></ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <button
            *ngFor="let criteria of criteriaPair[1]"
            [ngStyle]="getStyles(criteriaPair[0])"
            class="mr-[10px] mb-[10px] h-[24px] flex items-center rounded-xl py-0.5 px-2"
            (click)="onRemoveCriteriaClick(criteriaPair[0], criteria)"
          >
            <span>{{ criteria.label }}</span>
            <app-svg-icon
              *ngIf="config[criteriaPair[0]]?.canDelete || config.default.canDelete"
              class="cursor-pointer ml-[5px]"
              name="cross"
              [stroke]="config[criteriaPair[0]]?.color|| config.default.color"
            >
            </app-svg-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="mb-[30px] mr-[30px] w-fit ml-auto" mat-dialog-actions>
  <button
    (click)="finishEditing()"
    class="ml-auto text-white bg-regal-blue font-medium rounded-md border-0 w-24 h-[30px] shadow-button text-base"
  >
    Ok
  </button>
</div>

<ng-template #categoriesLabel let-criteriaPair="criteriaPair">
  <div class="flex flex-col">
    <span>{{ labels[criteriaPair[0]] }}:</span>
    <span *ngIf="criteriaPair[1].isPrimaryCategory">(Primary categories only)</span>
  </div>
</ng-template>

<ng-template #marketsLabel let-criteriaPair="criteriaPair">
  <div class="flex flex-col">
    <span>{{ labels[criteriaPair[0]] }}:</span>
    <span>({{ labels[criteriaPair[1].market] }})</span>
  </div>
</ng-template>

<ng-template #matchedToCriteriaValues let-criteriaPair="criteriaPair">
  <button
    *ngIf="criteriaPair[1].matchedTo"
    [ngStyle]="getStyles(criteriaPair[0])"
    class="mr-[10px] mb-[10px] h-[24px] flex items-center rounded-xl py-0.5 px-2"
    (click)="onRemoveMatchedToCriteriaClick($event)"
    >
  <span>{{ criteriaPair[1].matchedTo }}</span>
  <app-svg-icon
    class="cursor-pointer ml-[5px]"
    name="cross"
    [stroke]="config[criteriaPair[0]]?.color|| config.default.color"
  >
  </app-svg-icon>
</button>
</ng-template>

<ng-template #searchNameCriteriaValue let-criteriaPair="criteriaPair">
  <button
    *ngIf="criteriaPair[1]"
    [ngStyle]="getStyles(criteriaPair[0])"
    class="mr-[10px] mb-[10px] h-[24px] flex items-center rounded-xl py-0.5 px-2"
    (click)="onRemoveSearchNameCriteriaClick($event)"
    >
  <span>{{ criteriaPair[1] }}</span>
  <app-svg-icon
    class="cursor-pointer ml-[5px]"
    name="cross"
    [stroke]="config[criteriaPair[0]]?.color|| config.default.color"
  >
  </app-svg-icon>
</button>
</ng-template>

<ng-template #complexCriteriaValues let-criteriaPair="criteriaPair">
  <button
    *ngFor="let criteria of criteriaPair[1].options"
    [ngStyle]="getStyles(criteriaPair[0])"
    class="mr-[10px] mb-[10px] h-[24px] flex items-center rounded-xl py-0.5 px-2"
    (click)="onRemoveCriteriaClick(criteriaPair[0], criteria)"
  >
    <span>{{ criteria.label }}</span>
    <app-svg-icon
      *ngIf="config[criteriaPair[0]]?.canDelete || config.default.canDelete"
      class="cursor-pointer ml-[5px]"
      name="cross"
      [stroke]="config[criteriaPair[0]]?.color|| config.default.color"
    >
    </app-svg-icon>
  </button>
</ng-template>
