<p class="text-sm font-lato text-pri-black text-center !mb-[30px]">
  A message containing a verification code has been sent to your email address. Please enter the verification code
  below.
</p>
<form [formGroup]="form" (ngSubmit)="onCodeSubmit()" novalidate>
  <div class="pb-[10px]">
    <mat-form-field class="w-full" hideRequiredMarker>
      <input matInput class="!font-lato" placeholder="Code" formControlName="code">
      <mat-error *ngIf="codeFormControl.hasError('required')">
        Code is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="text-center">
    <button mat-raised-button type="submit" color="primary"
      [disabled]="form.pristine || form.invalid || attempts >= MAX_TRIES"
      class="text-base  w-[106px] !mb-[30px] font-mont">
      Submit
    </button>
    <p class="text-light-gray font-lato">
      <a (click)="verificationCodeSendAgain()" class="text-regal-blue cursor-pointer">Resend Code</a>
    </p>
    <p *ngIf="descriptionMessage" class="text-sm font-lato text-light-gray text-center !mb-[30px]">
      A message containing a verification code has been sent to your email address. Please enter the verification code
      below.
    </p>
  </div>
</form>