<form [formGroup]="form" (ngSubmit)="handleClick()" novalidate>
  <div>
    <mat-form-field class="w-full">
      <input matInput class="!font-lato" placeholder="Code" formControlName="code">
      <mat-error *ngIf="form.controls['code'].hasError('required')">
        Code is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="text-center">
    <button mat-raised-button type="submit" color="primary" [disabled]="form.pristine || form.invalid" class="text-base  w-[106px] !mb-[30px] font-mont">
      Submit
    </button>
    <p class="text-light-gray font-lato">
      <a routerLink="/login" class="text-regal-blue">Resend Code</a>
    </p>
  </div>
</form>