<form [formGroup]="form" (ngSubmit)="onEmailSubmit()" novalidate>
  <div class="pb-[10px]">
    <mat-form-field class="w-full">
      <input matInput class="!font-lato" placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Email is not valid
      </mat-error>
    </mat-form-field>
  </div>
  <div class="text-center">
    <button mat-raised-button type="submit" color="primary" [disabled]="form.pristine || form.invalid"
      class="text-base  w-[106px] !mb-[30px] font-mont">
      Next
    </button>
    <p class="text-light-gray font-lato">
      <a routerLink="/login" class="text-regal-blue">Back to Login</a>
    </p>
  </div>
</form>