<div class="text-pri-black pointer bg-white border border-gray rounded-md h-full p-2" [ngClass]="{ 'bg-light-grey': disabled }">
  <div class="input w-full h-full flex items-center justify-between" type="text">
    <div *ngIf="!valueContainer" class="value-container">
      <span *ngIf="!selected">{{ placeholder }}</span>
      <span *ngIf="selected">{{ selected.label }}</span>
    </div>
    <div *ngIf="valueContainer" class="value-container">
      <ng-content select="[valueContainer]"></ng-content>
    </div>
    <img [src]="arrowIcon" />
  </div>
<div>

