<div
  class="h-full flex justify-between items-center relative p-[10px] container"
  [ngClass]="{
    'bg-light-grey': disabled,
    'bg-white': !disabled,
    'border rounded-md': border,
    'border-regal-blue': isFocused,
    'border-gray': !isFocused
  }"
>
  <ng-container *ngIf="prefix">
    <ng-content select="[prefix]"></ng-content>
  </ng-container>

  <input
    class="font-lato text-pri-black placeholder:text-pri-gray placeholder:font-lato disabled:bg-light-grey w-full h-fit outline-none input"
    type="text"
    [name]="name"
    [placeholder]="_placeholder"
    [disabled]="disabled"
    (keyup)="onInputChange($event)"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    [value]="value"
    tabindex="0"
  >
  <img *ngIf="icon" [src]="icon">

  <div
    *ngIf="isFocused || value"
    class="absolute translate-y-1/2 bottom-full font-lato text-[10px] text-pri-black bg-white border-label"
  >
    {{ label }}
  </div>
<div>
