<app-select
  [multiple]="true"
  [grouping]="false"
  [allSelectedVisible]="false"
  [options]="options"
  [borderLabel]="borderLabel"
  [panelOpen]="panelOpen"
  (applyChanges)="onApplyChanges($event)"
  (closeMenu)="onMenuClose()"
  (selectInpuClick)="onSelectClick($event)"
  (clear)="onClear()"
  #selectComponent
>
  <div valueContainer #valueContainer class="flex font-lato items-center">
    <app-checkbox
      [checked]="isLanguage"
      (click)="toggleLanguage($event)"
      class="checkbox"
    >
    </app-checkbox>
    <div
      [ngStyle]="{ 'width': width }"
      class="ml-[10px] truncate"
    >{{ value }}</div>
  </div>

  <div dropdownHeaderContainer #dropdownHeaderContainer>
    <div class="flex justify-between items-center mb-5 cursor-pointer" (click)="toggleLanguage($event)">
      <div class="text-black text-base font-medium">Language</div>
      <app-checkbox
        [checked]="isLanguage"
      >
      </app-checkbox>
    </div>
  </div>
</app-select>
