<app-select
  [multiple]="true"
  [options]="options"
  [search]="true"
  [borderLabel]="borderLabel"
  [panelOpen]="panelOpen"
  (cancelChanges)="onCancelChanges()"
  (applyChanges)="onApplyChanges($event)"
  (click)="onSelectClick($event)"
  (closeMenu)="onMenuClose()"
  #selectComponent
>
  <div valueContainer #valueContainer class="flex font-lato items-center">
    <app-checkbox
      [checked]="isCategories"
      (click)="toggleCategory($event)"
      class="checkbox"
    >
    </app-checkbox>
    <div
      [ngStyle]="{ 'width': width }"
      class="ml-[10px] truncate"
      #tooltip="matTooltip"
      [matTooltip]="value"
      matTooltipPosition="below"
      matTooltipHideDelay="200"
      matTooltipShowDelay="2000"
    >{{ value }}</div>
  </div>

  <div dropdownHeaderContainer #dropdownHeaderContainer>
    <div class="flex justify-between items-center mb-5 cursor-pointer" (click)="toggleCategory($event)">
      <div class="text-black text-base font-medium">Categories</div>
      <app-checkbox
        [checked]="isCategories"
        #tooltip="matTooltip"
        matTooltip="Include categories in result"
        matTooltipPosition="above"
        matTooltipHideDelay="200"
        matTooltipShowDelay="1000"
      >
      </app-checkbox>
    </div>
    <div class="flex justify-between items-center mb-8 cursor-pointer" (click)="togglePrimaryCategory($event)">
      <div class="font-lato text-sm text-pri-black">Primary categories only</div>
      <app-slide-toggle
        [checked]="isPrimaryCategory"
      ></app-slide-toggle>
    </div>
  </div>
</app-select>
