<header class="flex justify-between mb-[30px]">
  <div class="font-mont font-medium text-xl">{{ tittle }}</div>
  <div class="flex items-center">
    <button
      class="font-mont text-base text-regal-blue font-medium flex items-center mr-[30px]"
      (click)="backToSearch($event)"
    >
      <app-svg-icon
        class="rotate-90 mr-[10px]"
        [name]="'longArrowDown'"
        [stroke]="'#3a63cc'"
      ></app-svg-icon>
      <span>Back to Search</span>
    </button>
    <button
      class="font-mont text-base text-regal-blue font-medium flex items-center"
      (click)="openDialog($event)"
    >
      <app-svg-icon
        class="mr-[10px]"
        [name]="'bulletedList'"
        [stroke]="'#3a63cc'"
      ></app-svg-icon>
      <span>{{ tittle + " " + "List" }} </span>
    </button>
  </div>
</header>

<ng-container *ngIf="!!maven">
  <div
    class="main-information shadow-simple rounded-md w-full my-[20px] p-[20px]"
  >
    <div
      class="font-mont font-medium text-pri-black text-2xl border-b border-gray pb-[10px] mb-[20px]"
    >
      {{ maven.name }}
    </div>
    <div class="main-information__fields grid gap-[10px]">
      <div *ngFor="let columns of mainInformation">
        <ng-container *ngFor="let field of columns">
          <ng-container *ngIf="field.value">
            <div class="flex" [ngClass]="field.className || []">
              <app-svg-icon
                class="my-0.5"
                *ngIf="field.icon"
                [name]="field.icon"
                [stroke]="field.iconStroke || ''"
                [fill]="field.iconFill || ''"
              ></app-svg-icon>
              <div *ngIf="!field.icon" class="font-lato text-pri-gray">
                {{ field.label }}
                {{ labelwithNoColon(field.label) ? "" : ":" }}
              </div>
              <div
                class="ml-[20px] text-pri-black font-lato"
                [ngClass]="field.valueClassName || []"
              >
                {{
                  field.id === "address" ? formatAddress(field) : field.value
                }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="maven-attributes shadow-simple rounded-md w-full my-[20px] p-[20px]"
  >
    <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
      MAVEN Attributes
    </div>
    <div class="maven-attributes__fields grid gap-[10px]">
      <div *ngFor="let columns of mavenAttributes">
        <ng-container *ngFor="let field of columns">
          <ng-container *ngIf="field.value">
            <div class="flex flex-row" [ngClass]="field.className || []">
              <app-svg-icon
                class=""
                *ngIf="field.icon"
                [name]="field.icon"
                [stroke]="field.iconStroke || ''"
                [fill]="field.iconFill || ''"
              ></app-svg-icon>
              <div
                *ngIf="!field.icon"
                class="font-lato text-pri-gray basis-[25%] mt-1"
                [ngClass]="field.labelClassName || []"
              >
                {{ field.label }} :
              </div>
              <div
                class="ml-[20px] flex flex-row flex-wrap content-center basis-[75%]"
                *ngIf="isArray(field.value); else notarray"
              >
                <ng-container
                  *ngIf="field.id !== 'categories'; else categories"
                >
                  <div
                    *ngFor="let value of field.value; let i = index"
                    class="text-pri-black font-lato my-1 mr-1"
                    [ngClass]="field.valueClassName || []"
                  >
                    <div [ngClass]="field.valueContentClassName || []">
                      {{ value }}
                    </div>
                  </div>
                </ng-container>

                <ng-template #categories>
                  <div
                    *ngFor="
                      let value of displayCategories(field.value);
                      let i = index
                    "
                    class="text-pri-black font-lato my-1 mr-1"
                    [ngClass]="field.valueClassName || []"
                  >
                    <div [ngClass]="field.valueContentClassName || []">
                      {{ value }}
                    </div>
                  </div>

                  <div
                    class="text-dark-blue underline cursor-pointer my-2"
                    (click)="toggleShowAllCategoryBubbles()"
                  >
                    <div *ngIf="!showAllCategoryBubbles">
                      <a>show {{ field.value.length - 3 }} more</a>
                    </div>
                    <div *ngIf="showAllCategoryBubbles">
                      <a>hide</a>
                    </div>
                  </div>
                </ng-template>
              </div>
              <ng-template #notarray>
                <div
                  class="ml-[20px] text-pri-black font-lato basis-[75%] my-1"
                  [ngClass]="field.valueClassName || []"
                >
                  <div [ngClass]="field.valueContentClassName || []">
                    {{ field.value }}
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="footer grid gap-[20px]">
    <div class="diversity shadow-simple rounded-md w-full p-[20px]">
      <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
        Diversity
      </div>
      <div class="diversity__fields grid gap-[10px]">
        <ng-container *ngFor="let field of diversityAttributes">
          <ng-container *ngIf="field.value">
            <div class="flex flex-row" [ngClass]="field.className || []">
              <app-svg-icon
                class=""
                *ngIf="field.icon"
                [name]="field.icon"
                [stroke]="field.iconStroke || ''"
                [fill]="field.iconFill || ''"
              ></app-svg-icon>
              <div
                *ngIf="!field.icon"
                class="font-lato text-pri-gray basis-[15%]"
                [ngClass]="field.labelClassName || []"
              >
                {{ field.label + ":" }}
              </div>
              <div
                class="ml-[20px] text-pri-black font-lato basis-[85%]"
                [ngClass]="field.valueClassName || []"
              >
                <div [ngClass]="field.valueContentClassName || []">
                  {{ field.value }}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div
      class="files shadow-simple rounded-md w-full p-[20px]"
      *ngIf="maven.files.length"
    >
      <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
        Files
      </div>
      <ng-container *ngIf="maven.files.length; else nofiles">
        <div class="header flex mb-[15px]">
          <div
            *ngFor="let column of filesColumns"
            class="font-lato text-pri-gray cell"
            [ngClass]="column.className"
          >
            {{ column.label }}
          </div>
        </div>
        <div class="table-body">
          <div *ngFor="let row of maven.files" class="flex row">
            <div
              *ngFor="let column of filesColumns"
              class="cell font-lato text-pri-black truncate"
              [ngClass]="column.className"
            >
              <app-svg-icon
                *ngIf="column.icon"
                [name]="column.icon"
                [stroke]="'none'"
                [fill]="column.iconFill || ''"
              ></app-svg-icon>
              <span *ngIf="!column.icon">
                {{ row[column.id] || "" }}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #nofiles>
        <div class="text-pri-gray font-lato">No files found.</div>
      </ng-template>
    </div>

    <div
      class="shadow-simple rounded-md w-full p-[20px]"
      *ngIf="maven.partners.length"
    >
      <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
        Media Partners
      </div>
      <div class="text-pri-gray font-lato" *ngIf="!maven.partners.length">
        No partners found
      </div>
      <div
        *ngFor="let mediaPartner of maven.partners"
        class="text-regal-blue font-lato"
      >
        {{ mediaPartner.name }}
      </div>
    </div>

    <div
      class="shadow-simple rounded-md w-full p-[20px]"
      *ngIf="!!personnelTableData && maven.partners.length"
    >
      <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
        Call History
      </div>
      <app-table
        *ngIf="!!callHistoryTableData; else noCalls"
        [data]="callHistoryTableData"
        [columnFilterVisible]="false"
        [tableStyles]="tableStyles"
        (onRowClick)="onRowClick($event)"
      >
      </app-table>
      <ng-template #noCalls>
        <div class="text-pri-gray font-lato">
          No call letters changes found.
        </div>
      </ng-template>
    </div>
    <div
      class="shadow-simple rounded-md min-w-fit p-[20px]"
      *ngIf="!!personnelTableData && maven.partners.length"
    >
      <div class="font-mont font-semibold text-pri-black text-base mb-[20px]">
        Personnel
      </div>

      <app-table
        *ngIf="!!personnelTableData && maven.partners.length; else noPersonnel"
        [data]="personnelTableData"
        [columnFilterVisible]="false"
        [tableStyles]="tableStyles"
        (onRowClick)="onRowClick($event)"
      >
      </app-table>

      <ng-template #noPersonnel>
        <div class="text-pri-gray font-lato">No personnel found.</div>
      </ng-template>
    </div>
  </div>
</ng-container>
