.main-information {
  &__fields {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  ;
}

;

.maven-attributes {
  &__fields {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  ;
}

;

.diversity {
  &__fields {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  ;
}

;

.footer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

;

.row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cell {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
