.main-information {
  &__fields {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.maven-attributes {
  &__fields {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.diversity {
  &__fields {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.footer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cell {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.description-source {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.infogrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

.infogrid > * {
  flex-grow: 1;
  flex-basis: 45%;
}

.circulation-content {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
