<div mat-dialog-title class="text-center text-xl font-lato font-bold text-pri-black">Terms and conditions of use</div>

<mat-dialog-content>
  <div class="mx-5">
    <p class="text-sm font-lato font-bold text-pri-black !mt-6">1.<span class="pl-[10px]"></span>Introduction
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">1.1<span class="pl-[10px]"></span>These terms and conditions shall govern your
        use
        of our
        website.</p>
      <p class="pl-[30px] -indent-[30px]">1.2<span class="pl-[10px]"></span>By using our website, you accept these terms
        and
        conditions in
        full; accordingly, if you
        disagree with these terms and conditions or any part of these terms and conditions, you must not use our
        website.</p>
      <p class="pl-[30px] -indent-[30px]">1.3<span class="pl-[10px]"></span>If you register with our website or use any
        of
        our website
        services, we will ask you to
        expressly agree to these terms and conditions.</p>
      <p class="pl-[30px] -indent-[30px]">1.4<span class="pl-[10px]"></span>You must be at least 18 years of age to use
        our
        website; by
        using our website or agreeing to
        these terms and conditions, you warrant and represent to us that you are at least 18 years of age.</p>
      <p class="pl-[30px] -indent-[30px]">1.5<span class="pl-[10px]"></span>Our website uses cookies; by using our
        website or
        agreeing to
        these terms and conditions, you
        consent to our use of cookies.
      <p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">2.<span class="pl-[10px]"></span>Credit</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">2.1<span class="pl-[10px]"></span>This document was created using a template
        from
        SEQ Legal (<a href="http://www.seqlegal.com"><span
            style='color:blue; padding-left:-9px;'>http://www.seqlegal.com</span></a>).</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">3.<span class="pl-[10px]"></span>Copyright notice</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">3.1<span class="pl-[10px]"></span>&copy; <i>{{ year }} Media Framework,
          LLC</i>.
      </p>
      <p class="pl-[30px] -indent-[30px]">3.2<span class="pl-[10px]"></span>Subject to the express provisions of these
        terms
        and
        conditions:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>we, together with our licensors, own and
          control all the copyright and other intellectual
          property rights in our website and the material on our website; and</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>all the copyright and other intellectual
          property rights in our website and the material on
          our website are reserved.</p>
      </div>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">4.<span class="pl-[10px]"></span>License to use website
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">4.1<span class="pl-[10px]"></span>You may:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>view pages from our website in a web
          browser;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>download pages from our website for
          caching in a web browser;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>print pages from our website,</p>
        <p><span></span>subject to the other provisions of these terms and conditions.</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">4.2<span class="pl-[10px]"></span>Except as expressly permitted by Section 4.1
        or
        the other
        provisions of these terms and
        conditions, you must not download any material from our website or save any such material to your computer.</p>
      <p class="pl-[30px] -indent-[30px]">4.3<span class="pl-[10px]"></span>You may only use our website for your own
        personal and
        business purposes, and you must not use
        our website for any other purposes.</p>
      <p class="pl-[30px] -indent-[30px]">4.4<span class="pl-[10px]"></span>Except as expressly permitted by these terms
        and
        conditions,
        you must not edit or otherwise
        modify any material on our website.</p>
      <p class="pl-[30px] -indent-[30px]">4.5<span class="pl-[10px]"></span>Unless you own or control the relevant
        rights
        in
        the material,
        you must not:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>republish material from our website
          (including republication on another website);</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>sell, rent or sub-license material from
          our website;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>show any material from our website in
          public;</p>
        <p class="pl-[30px] -indent-[30px]">(d)<span class="pl-[12px]"></span>exploit material from our website for a
          commercial purpose; or</p>
        <p class="pl-[30px] -indent-[30px]">(e)<span class="pl-[12px]"></span>redistribute material from our website.
        </p>
      </div>
      <p class="pl-[30px] -indent-[30px]">4.6<span class="pl-[10px]"></span>We reserve the right to restrict access to
        areas
        of our
        website, or indeed our whole website,
        at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction
        measures on our website.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">5.<span class="pl-[10px]"></span>Acceptable use</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">5.1<span class="pl-[10px]"></span>You must not:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>use our website in any way or take any
          action that causes, or may cause, damage to the
          website or impairment of the performance, availability or accessibility of the website;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>use our website in any way that is
          unlawful, illegal, fraudulent or harmful, or in connection
          with any unlawful, illegal, fraudulent or harmful purpose or activity;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>use our website to copy, store, host,
          transmit, send, use, publish or distribute any material
          which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit
          or other malicious computer software;</p>
        <p class="pl-[30px] -indent-[30px]">(d)<span class="pl-[12px]"></span>conduct any systematic or automated data
          collection activities (including without limitation
          scraping, data mining, data extraction and data harvesting) on or in relation to our website without our
          express written consent;</p>
        <p class="pl-[30px] -indent-[30px]">(e)<span class="pl-[12px]"></span>access or otherwise interact with our
          website using any robot, spider or other automated
          means, except for the purpose of search engine indexing;</p>
        <p class="pl-[30px] -indent-[30px]">(f)<span class="pl-[12px]"></span>use data collected from our website for
          any direct marketing activity (including without
          limitation email marketing, SMS marketing, telemarketing and direct mailing).</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">5.2<span class="pl-[10px]"></span>You must ensure that all the information you
        supply to us
        through our website, or in relation
        to our website, is true, accurate, current, complete and non-misleading.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">6.<span class="pl-[10px]"></span>Registration and
      accounts</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">6.1<span class="pl-[10px]"></span>You may register for an account with our
        website
        by completing
        and submitting the account
        registration form on our website, and clicking on the verification link in the email that the website will send
        to you.</p>
      <p class="pl-[30px] -indent-[30px]">6.2<span class="pl-[10px]"></span>You must not allow any other person to use
        your
        account to
        access the website.</p>
      <p class="pl-[30px] -indent-[30px]">6.3<span class="pl-[10px]"></span>You must notify us in writing immediately if
        you
        become aware
        of any unauthorized use of your
        account.</p>
      <p class="pl-[30px] -indent-[30px]">6.4<span class="pl-[10px]"></span>You must not use any other person's account
        to
        access the
        website.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">7.<span class="pl-[10px]"></span>User login details</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">7.1<span class="pl-[10px]"></span>If you register for an account with our
        website,
        you will be
        asked to choose a user ID and
        password.</p>
      <p class="pl-[30px] -indent-[30px]">7.2<span class="pl-[10px]"></span>You must keep your password confidential.
      </p>
      <p class="pl-[30px] -indent-[30px]">7.3<span class="pl-[10px]"></span>You must notify us in writing immediately if
        you
        become aware
        of any disclosure of your
        password.</p>
      <p class="pl-[30px] -indent-[30px]">7.4<span class="pl-[10px]"></span>You are responsible for any activity on our
        website arising
        out of any failure to keep your
        password confidential, and may be held liable for any losses arising out of such a failure.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">8.<span class="pl-[10px]"></span>Cancellation and
      suspension
      of account</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">8.1<span class="pl-[10px]"></span>We may:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>suspend your account;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>cancel your account; and/or</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>edit your account details,</p>
        <p>at any time in our sole discretion without notice or explanation.</p>
      </div>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">9.<span class="pl-[10px]"></span>Your content: license
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">9.1<span class="pl-[10px]"></span>In these terms and conditions, &quot;your
        content&quot; means
        all works and materials
        (including without limitation text, graphics, images, audio material, video material, audio-visual material,
        scripts, software and files) that you submit to us or our website for storage or publication on, processing by,
        or transmission via, our website.</p>
      <p class="pl-[30px] -indent-[30px]">9.2<span class="pl-[10px]"></span>You grant to us a worldwide, irrevocable,
        non-exclusive,
        royalty-free license to use,
        reproduce, store and publish your content on and in relation to this website and any successor website.</p>
      <p class="pl-[30px] -indent-[30px]">9.3<span class="pl-[10px]"></span>You grant to us the right to sub-license the
        rights licensed
        under Section 9.2.</p>
      <p class="pl-[30px] -indent-[30px]">9.4<span class="pl-[10px]"></span>You grant to us the right to bring an action
        for
        infringement
        of the rights licensed under
        Section 9.2.</p>
      <p class="pl-[30px] -indent-[30px]">9.5<span class="pl-[10px]"></span>You may edit your content to the extent
        permitted
        using the
        editing functionality made
        available on our website.</p>
      <p class="pl-[30px] -indent-[30px]">9.6<span class="pl-[10px]"></span>Without prejudice to our other rights under
        these
        terms and
        conditions, if you breach any
        provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these
        terms and conditions in any way, we may delete, unpublish or edit any or all of your content.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">10.<span class="pl-[10px]"></span>Your content: rules
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">10.1<span class="pl-[10px]"></span>You warrant and represent that your content
        will
        comply with
        these terms and conditions.</p>
      <p class="pl-[30px] -indent-[30px]">10.2<span class="pl-[10px]"></span>Your content must not be illegal or
        unlawful,
        must not
        infringe any person's legal rights, and
        must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and
        under any applicable law).</p>
      <p class="pl-[30px] -indent-[30px]">10.3<span class="pl-[10px]"></span>Your content, and the use of your content
        by
        us
        in accordance
        with these terms and conditions,
        must not:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>be libelous or maliciously false;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>be obscene or indecent;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>infringe any copyright, moral right,
          database right, trade mark right, design right, right in
          passing off, or other intellectual property right;</p>
        <p class="pl-[30px] -indent-[30px]">(d)<span class="pl-[12px]"></span>infringe any right of confidence, right of
          privacy or right under data protection
          legislation;</p>
        <p class="pl-[30px] -indent-[30px]">(e)<span class="pl-[12px]"></span>constitute negligent advice or contain any
          negligent statement;</p>
        <p class="pl-[30px] -indent-[30px]">(f)<span class="pl-[12px]"></span>constitute an incitement to commit a
          crime;</p>
        <p class="pl-[30px] -indent-[30px]">(g)<span class="pl-[12px]"></span>be in contempt of any court, or in breach
          of any court order;</p>
        <p class="pl-[30px] -indent-[30px]">(h)<span class="pl-[12px]"></span>be in breach of racial or religious hatred
          or discrimination legislation;</p>
        <p class="pl-[30px] -indent-[30px]">(i)<span class="pl-[12px]"></span>be blasphemous;</p>
        <p class="pl-[30px] -indent-[30px]">(j)<span class="pl-[12px]"></span>be in breach of official secrets
          legislation;</p>
        <p class="pl-[30px] -indent-[30px]">(k)<span class="pl-[12px]"></span>be in breach of any contractual obligation
          owed to any person;</p>
        <p class="pl-[30px] -indent-[30px]">(l)<span class="pl-[12px]"></span>be untrue, false, inaccurate or
          misleading;</p>
        <p class="pl-[30px] -indent-[30px]">(m)<span class="pl-[12px]"></span>consist of or contain any instructions,
          advice or other information which may be acted upon
          and could, if acted upon, cause illness, injury or death, or any other loss or damage;</p>
        <p class="pl-[30px] -indent-[30px]">(n)<span class="pl-[12px]"></span>constitute spam;</p>
        <p class="pl-[30px] -indent-[30px]">(o)<span class="pl-[12px]"></span>be offensive, deceptive, fraudulent,
          threatening, abusive, harassing, anti-social, menacing,
          hateful, discriminatory or inflammatory.</p>
      </div>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">11.<span class="pl-[10px]"></span>Limited warranties
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">11.1<span class="pl-[10px]"></span>We do not warrant or represent:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>the completeness or accuracy of the
          information published on our website;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>that the material on the website is up to
          date; or</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>that the website or any service on the
          website will remain available.</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">11.2<span class="pl-[10px]"></span>We reserve the right to discontinue or
        alter
        any
        or all of
        our website services, and to stop
        publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent
        expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or
        other payment upon the discontinuance or alteration of any website services, or if we stop publishing the
        website.</p>
      <p class="pl-[30px] -indent-[30px]">11.3<span class="pl-[10px]"></span>To the maximum extent permitted by
        applicable
        law and subject
        to Section 12.1, we exclude all
        representations and warranties relating to the subject matter of these terms and conditions, our website and the
        use of our website.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">12.<span class="pl-[10px]"></span>Limitations and
      exclusions
      of liability
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">12.1<span class="pl-[10px]"></span>Nothing in these terms and conditions will:
      </p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>limit or exclude any liability for death
          or personal injury resulting from negligence;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>limit or exclude any liability for fraud
          or fraudulent misrepresentation;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>limit any liabilities in any way that is
          not permitted under applicable law; or</p>
        <p class="pl-[30px] -indent-[30px]">(d)<span class="pl-[12px]"></span>exclude any liabilities that may not be
          excluded under applicable law.</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">12.2<span class="pl-[10px]"></span>The limitations and exclusions of liability
        set
        out in this
        Section 12 and elsewhere in these
        terms and conditions:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>are subject to Section 12.1; and</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>govern all liabilities arising under these
          terms and conditions or relating to the subject
          matter of these terms and conditions, including liabilities arising in contract, in tort (including
          negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms
          and conditions.</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">12.3<span class="pl-[10px]"></span>To the extent that our website and the
        information and
        services on our website are provided
        free of charge, we will not be liable for any loss or damage of any nature.</p>
      <p class="pl-[30px] -indent-[30px]">12.4<span class="pl-[10px]"></span>We will not be liable to you in respect of
        any
        losses arising
        out of any event or events
        beyond our reasonable control.</p>
      <p class="pl-[30px] -indent-[30px]">12.5<span class="pl-[10px]"></span>We will not be liable to you in respect of
        any
        business
        losses, including (without limitation)
        loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts,
        commercial opportunities or goodwill.</p>
      <p class="pl-[30px] -indent-[30px]">12.6<span class="pl-[10px]"></span>We will not be liable to you in respect of
        any
        loss or
        corruption of any data, database or
        software.</p>
      <p class="pl-[30px] -indent-[30px]">12.7<span class="pl-[10px]"></span>We will not be liable to you in respect of
        any
        special,
        indirect or consequential loss or
        damage.</p>
      <p class="pl-[30px] -indent-[30px]">12.8<span class="pl-[10px]"></span>You accept that we have an interest in
        limiting
        the personal
        liability of our officers and
        employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree
        that you will not bring any claim personally against our officers or employees in respect of any losses you
        suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude
        the liability of the limited liability entity itself for the acts and omissions of our officers and employees).
      </p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">13.<span class="pl-[10px]"></span>Breaches of these
      terms and
      conditions
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">13.1<span class="pl-[10px]"></span>Without prejudice to our other rights under
        these terms and
        conditions, if you breach these
        terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions
        in any way, we may:</p>
      <div class="ml-5">
        <p class="pl-[30px] -indent-[30px]">(a)<span class="pl-[12px]"></span>send you one or more formal warnings;</p>
        <p class="pl-[30px] -indent-[30px]">(b)<span class="pl-[12px]"></span>suspend your access to our website;</p>
        <p class="pl-[30px] -indent-[30px]">(c)<span class="pl-[12px]"></span>permanently prohibit you from accessing
          our website;</p>
        <p class="pl-[30px] -indent-[30px]">(d)<span class="pl-[12px]"></span>block computers using your IP address from
          accessing our website;</p>
        <p class="pl-[30px] -indent-[30px]">(e)<span class="pl-[12px]"></span>commence legal action against you, whether
          for breach of contract or otherwise; and/or</p>
      </div>
      <p class="pl-[30px] -indent-[30px]">13.2<span class="pl-[10px]"></span>Where we suspend or prohibit or block your
        access to our
        website or a part of our website, you
        must not take any action to circumvent such suspension or prohibition or blocking (including without limitation
        creating and/or using a different account).</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">14.<span class="pl-[10px]"></span>Variation</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">14.1<span class="pl-[10px]"></span>We may revise these terms and conditions
        from
        time to time.
      </p>
      <p class="pl-[30px] -indent-[30px]">14.2<span class="pl-[10px]"></span>The revised terms and conditions shall
        apply
        to
        the use of
        our website from the date of
        publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise
        have to be notified of, or to consent to, revisions of these terms and conditions.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">15.<span class="pl-[10px]"></span>Assignment</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">15.1<span class="pl-[10px]"></span>You hereby agree that we may assign,
        transfer,
        sub-contract
        or otherwise deal with our rights
        and/or obligations under these terms and conditions.</p>
      <p class="pl-[30px] -indent-[30px]">15.2<span class="pl-[10px]"></span>You may not without our prior written
        consent
        assign,
        transfer, sub-contract or otherwise deal
        with any of your rights and/or obligations under these terms and conditions.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">16.<span class="pl-[10px]"></span>Severability</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">16.1<span class="pl-[10px]"></span>If a provision of these terms and
        conditions
        is
        determined by
        any court or other competent
        authority to be unlawful and/or unenforceable, the other provisions will continue in effect.</p>
      <p class="pl-[30px] -indent-[30px]">16.2<span class="pl-[10px]"></span>If any unlawful and/or unenforceable
        provision
        of these terms
        and conditions would be lawful
        or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision
        will continue in effect.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">17.<span class="pl-[10px]"></span>Third party rights
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">17.1<span class="pl-[10px]"></span>A contract under these terms and conditions
        is
        for our
        benefit and your benefit, and is not
        intended to benefit or be enforceable by any third party.</p>
      <p class="pl-[30px] -indent-[30px]">17.2<span class="pl-[10px]"></span>The exercise of the parties' rights under a
        contract under
        these terms and conditions is not
        subject to the consent of any third party.</p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">18.<span class="pl-[10px]"></span>Entire agreement</p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">18.1<span class="pl-[10px]"></span>Subject to Section 12.1, these terms and
        conditions, together
        with our software and data
        licensing agreement, shall constitute the entire agreement between you and us in relation to your use of our
        website and shall supersede all previous agreements between you and us in relation to your use of our website.
      </p>
    </div>

    <p class="text-sm font-lato font-bold text-pri-black !mt-6">19.<span class="pl-[10px]"></span>Law and jurisdiction
    </p>
    <div class="text-sm font-lato text-pri-black">
      <p class="pl-[30px] -indent-[30px]">19.1<span class="pl-[10px]"></span>These terms and conditions shall be
        governed
        by
        and construed
        in accordance with US law.</p>
      <p class="pl-[30px] -indent-[30px]">19.2<span class="pl-[10px]"></span>Any disputes relating to these terms and
        conditions shall be
        subject to the exclusive
        jurisdiction of the courts of the United States.</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>