<div class="relative" #selectContainer>
  <div
    class="text-pri-black pointer border rounded-md h-full p-[10px] relative"
    [ngClass]="{
      'bg-light-grey': disabled,
      'bg-white': !disabled,
      'border-regal-blue': isOpened,
      'border-gray': !isOpened
    }"
  >
    <div
      *ngIf="borderLabel"
      class="absolute translate-y-1/2 bottom-full font-lato text-[10px] text-pri-black bg-white "
    >
      {{ borderLabel }}
    </div>

    <div class="input w-full h-full flex items-center justify-between" type="text" (click)="toggleMenuOpen($event)">
      <div *ngIf="!valueContainer" class="value-container font-lato">
        <span *ngIf="!selected.length">{{ placeholder }}</span>
        <div *ngIf="selected.length">
          <div
            *ngIf="this.getSelectedOptionsLabels() as optionLabels"
            [ngStyle]="{ 'width': valueContainerWidth }"
            class="truncate"
          >
            {{ optionLabels }}
          </div>
        </div>
      </div>
      <div *ngIf="valueContainer" class="value-container" >
        <ng-content select="[valueContainer]"></ng-content>
      </div>
      <img class="ml-[10px]" [src]="arrowIcon" />
    </div>
  <div>

  <div
    *ngIf="isOpened"
    appClickOutside
    class="dropdown-container rounded-md shadow-simple rounded-md w-full bg-white absolute left-0 top-full z-10 mt-[5px]"
    (clickOutside)="onClickOutside()"
  >
    <div class="p-5">
      <div *ngIf="dropdownHeaderContainer" class="dropdown-container__header">
        <ng-content select="[dropdownHeaderContainer]"></ng-content>
      </div>

      <div *ngIf="search" class="bg-white border-b border-b-1 border-pri-gray mb-5">
        <app-input
          (click)="onSearchInputClick($event)"
          (inputChange)="onSearchInputChange($event)"
          [border]="false"
          icon="/assets/images/icons/search-right.svg"
          placeholder="Search"
          [value]="searchValue"
        >
        </app-input>
      </div>
  
      <div
        *ngIf="multiple"
        class="select-all block mb-2.5 flex items-center"
        (click)="toggleSelectAll($event)"
      >
        <app-checkbox [checked]="allSelected"></app-checkbox>
        <span class="ml-[10px] select-none font-lato">All</span>
      </div>

      <div class="font-lato overflow-y-auto h-52 pt-2.5 border-t border-t-1 border-gray">
        <cdk-virtual-scroll-viewport itemSize="20" class="h-52">
          <div class="mb-2.5" *cdkVirtualFor="let option of dropdownOptions; index as i; templateCacheSize: 0" (click)="toogleSelectOption($event, option)">
            <div *ngIf="grouping && isNewGroupLetter(dropdownOptions[i - 1], option)" class="border-b border-b-1 border-gray mb-2.5">
              {{ option.groupLetter }}
            </div>
  
            <div *ngIf="multiple" class="flex items-center">
              <app-checkbox [checked]="option.selected"></app-checkbox>
              <span class="ml-[10px] truncate m-0 p-0">{{ option.label }}</span>
            </div>
  
            <span *ngIf="!multiple">{{ option.label }}</span>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    <div class="shadow-simple flex justify-between items-center px-5 py-4 bg-white rounded-b-md">
      <button
        class="border-regal-blue text-regal-blue font-medium rounded-md border-2 w-24 h-[30px] shadow-button mr-[30px]"
        (click)="onClearButtonClick($event)"
      >
        Clear
      </button>
      <button
        (click)="onOkButtonClick($event)"
        class="text-white bg-regal-blue font-medium rounded-md border-0 w-24 h-[30px] shadow-button"
      >
        Ok
      </button>
    </div>
  </div>
</div>


